.nav {
    display: flex;
    background-color: rgb(33, 202, 166);
    justify-content: center;
    width: 100%;
  }
  
  .nav a {
    color: white;
    padding: 14px 60px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
  }
  
  .nav a:hover {
    background-color: #045D5D;
    color: white;
  
  }
  
  @media screen and (max-width: 700px) {
    .nav {
      flex-direction: column;
    }
  }
  
  #player {
    color: white;
    font-size: 25px;
    margin: 14px;
    margin-right: 150px;
  }
  
  
  .container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
  }